<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Абилимпикс.Properties.Settings.АбилимпиксConnectionString"
            connectionString="Data Source=DESKTOP-6FAKA40\OLYMP;Initial Catalog=Абилимпикс;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>